<div class='admin_content'>
  <% admin_form_for :user_review_type, @user_review_type do |f| %>
    <%= f.text_field :name %>
    <%= f.select :content_model_id, ContentModel.select_options_with_nil %>
    <%= f.submit_tag 'Submit' %>

  <% end -%>


</div>
