<% action_panel do |p| %>
  <%= p.link 'Create Type',:action => 'edit', :icon => 'add.gif' %> 
<% end -%>

<hr/>
<div class='admin_content'>
  <%= active_table_render :user_review_types_table %>
</div>
